/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Michroma&display=swap');*/

*{
    margin: 0;
    padding: 0;
    font-family: var(--font), 'Inter', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .center-container{
    width: 100%;
    height: 100%;
    font-size: var(--font-size-regular);
}

.visually-hidden{
    position:absolute;
    width:1px;
    height: 1px;
    margin:-1px;
    border:0;
    padding:0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: var(--z-index-overlay);
    display: none;
    animation: opacity 0.2s ease;
}
.overlay.active{
    display: block;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1_title{
    font-size: var(--font-size-big);
    font-weight: 500;
    margin-bottom: 20px;
}

/* input */
.custom-input{
    background-color: var(--light-gray-color);
    font-size: var(--font-size-regular);
    border: 0;
    margin-bottom: 10px;
    border-radius: 12px;
    height: 56px;
    width: 100%;
    /*width: 375px;*/
    padding-top: 22px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.custom-input:focus{
    border: 1px solid var(--standart-stroke-color);
    /*outline: 1px solid var(--standart-stroke-color);*/
    /*outline-offset: 0px;*/
    background-color: white;
}

.custom-input__placeholder{
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 16px;
    top: 18px;
    position: absolute;
    color: var(--dark-gray-color);
    pointer-events: none;
    transform-origin:left top;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.custom-input:focus ~ .custom-input__placeholder,
.custom-input:not(:placeholder-shown) ~ .custom-input__placeholder {
    transform: translateY(-12px) scale(0.75);
    color: rgb(0, 0, 0);

}

.custom-label{
    position: relative;
    width: 100%;
}

.error_circle{
    display: inline-block;
    height: 10px;
    width: 10px;
    background: red;
    border-radius: 100%;
}

/* mini input */
.mini-input{
    background-color: var(--light-gray-color);
    font-size: var(--font-size-regular);
    border: 0;

    border-radius: 12px;
    height: 46px;
    width: 120px;
    padding-top: 6px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.mini-input:focus{
    border: 1px solid var(--standart-stroke-color);
    /*outline: 1px solid var(--standart-stroke-color);*/
    /*outline-offset: 0px;*/
    background-color: white;
}

/*textarea*/

.custom-textarea{
    display: inline-block;
    position: relative;
    width: 100%;
}

.custom-textarea__core{
    background-color: var(--light-gray-color);
    font-size: var(--font-size-regular);
    border: 0;
    margin-bottom: 10px;
    border-radius: 12px;
    height: 200px;
    width: 100%;
    resize: none;
    padding-top: 26px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.custom-textarea__core:focus{
    border: 1px solid var(--standart-stroke-color);
    /*outline: 1px solid var(--standart-stroke-color);*/
    /*outline-offset: 0px;*/
    background-color: white;
}

.custom-textarea__placeholder{
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 16px;
    top: 18px;
    color: var(--dark-gray-color);
    pointer-events: none;
    transform-origin:left top;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.custom-textarea__placeholder-back{
    position: absolute;
    top: 2px;
    left: 15px;
    width: calc(100% - 32px);
    height: 24px;
    background-color: var(--light-gray-color);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.custom-textarea__core:focus ~ .custom-textarea__placeholder-back{
    background-color: white;
}
.custom-textarea__core:not(:placeholder-shown) ~ .custom-textarea__placeholder,
.custom-textarea__core:focus ~ .custom-textarea__placeholder{
    transform: translateY(-12px) scale(0.75);
    color: rgb(0, 0, 0);
}




/* button */

.button-regular{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 100%;
    border: 1px solid var(--standart-stroke-color);
    /*outline: 1px solid var(--standart-stroke-color);*/
    /*outline-offset: 0px;*/
    background: none;
    border-radius: 12px;
    font-size: var(--font-size-regular);
    font-weight: 400;
    color: var(--black-color);
}

.button-regular:hover{
    cursor: pointer;
    background: var(--light-gray-color);
}

.button-regular:focus{
    outline: 2px solid var(--accent-color);
    background: var(--light-gray-color);
}

.button-regular.colored{
    border: none;
    /*outline: 0;*/
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.button-regular.colored:focus{
    outline: 2px solid var(--standart-stroke-color);
    background: var(--dark-accent-color);
}

.button-regular.colored:hover{
    cursor: pointer;
    background: var(--dark-accent-color);
}

.button-regular.margin{
    margin-bottom: 10px;
}

.button-square-small{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 200;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border:0;
    background-color: var(--white-color);
}
.button-square-small:hover{
    cursor: pointer;
}
.button-square-small.outline{
    border: 1px solid var(--standart-stroke-color);
    /*outline: 1px solid var(--standart-stroke-color);*/
    /*outline-offset: 0;*/

}
.button-square-small.outline:hover{
    background-color:var(--light-gray-color);
}
.button-square-small.accent{
    font-size: 22px;
    background-color: var(--accent-color);
    color: var(--white-color);
}
.button-square-small.accent:hover{
    background-color: var(--dark-accent-color);
}

.button-regular.loading{
    animation: loading-animation 1.5s infinite;
}

/* a */

a{
    text-decoration: none;
    font-color:inherit;
    font-size: inherit;
    font-weight: inherit;
}





/* switch */

.switch{
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2.3px;
    padding-right: 2.3px;
    gap: 3px;
}
.image-content{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.switch button{
    height: 50px;
    width: 90px;
    background: none;
    border: 0;
    border-radius: 10px;
    font-weight: 400;
    color: var(--black-color);
}

.switch button:hover{
    background: var(--light-gray-color);
    cursor: pointer;
}

.switch button.active{
    background: var(--accent-color);
    color: var(--white-color);
}

.switch button.active:hover{
    background: var(--dark-accent-color);
}

@media (max-width: 989px) {
    .switch button{
        height: 34px;
    }

}

/* other */
.delimeter {
    width: 1px;
    height: 32px;
    background-color: var(--standart-stroke-color);
}

.error-message{
    font-size: 14px;
    color: orangered;
    margin-bottom: 3px;
}

.errored{
    background-color: var(--error-red-color);
}

.helper{
    background-color: #FFF9C2;
    padding: 20px;
    border-radius: 12px;
}

.helper-icon{
    width: 40px;
    height: 40px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 25C4 16.5732 4 12.3598 6.02236 9.33316C6.89787 8.02288 8.02288 6.89787 9.33316 6.02236C12.3598 4 16.5732 4 25 4C33.4268 4 37.6402 4 40.6668 6.02236C41.9771 6.89787 43.1021 8.02288 43.9776 9.33316C46 12.3598 46 16.5732 46 25C46 33.4268 46 37.6402 43.9776 40.6668C43.1021 41.9771 41.9771 43.1021 40.6668 43.9776C37.6402 46 33.4268 46 25 46C16.5732 46 12.3598 46 9.33316 43.9776C8.02288 43.1021 6.89787 41.9771 6.02236 40.6668C4 37.6402 4 33.4268 4 25ZM22 24C22 22.3431 23.3431 21 25 21C26.6569 21 28 22.3431 28 24V36C28 37.6569 26.6569 39 25 39C23.3431 39 22 37.6569 22 36V24ZM25 18C26.6569 18 28 16.6569 28 15C28 13.3431 26.6569 12 25 12C23.3431 12 22 13.3431 22 15C22 16.6569 23.3431 18 25 18Z' fill='%23DEC800'/%3E%3C/svg%3E%0A");
}

/* dropdown */
.dropdown-group {
    position: relative;
    z-index: var(--z-index-dropdown);
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    width: fit-content;
    /*margin-right: 10px;*/
    gap: 3px;
    height: 56px;
    /*border: 1px solid var(--standart-stroke-color);*/
    /*outline: 1px solid  var(--standart-stroke-color);*/
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 12px;
}

.dropdown-group-border {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 1px solid var(--standart-stroke-color);
    border-radius: 12px;
}

.dropdown {
    position: relative;
    /*display: inline-block;*/
}

.dropdown-label {
    height: 50px;
    /*min-width: 110px;*/
    font-weight: 500;
    border-radius: 10px;
    width: max-content;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-label:hover {
    background-color: var(--light-gray-color);
}

.dropdown-label.active {
    background-color: var(--light-gray-color);
}

.dropdown-text {
    font-size: 14px;
    display: inline;
}

.dropdown-label-content {
    display: flex;
    align-items: center;
    gap: 4px;
}
.dropdown-count {
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    background-color: var(--accent-color);
}

.dropdown-menu {
    position: absolute;
    /* overflow: hidden; */
    max-height: 325px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    top: 60px;
    left: 0;
    display: none;
    width: max-content;
    min-width: 100%;
    border: 1px solid var(--standart-stroke-color);
    /*outline: 1px solid var(--standart-stroke-color);*/
    background-color: white;
    border-radius: 10px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    height: 50px;
    box-shadow: 0 1px 0 var(--light-gray-color) inset;
}

.dropdown-item-range {
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 1px 0 var(--light-gray-color) inset;
}

.item-range__title{
    font-weight: 500;
}

.item-range__container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.dropdown-item:nth-child(1) {
    box-shadow: 0 0px 0 black inset;
}

.dropdown-item {
    background-color: white;
}

.dropdown-menu.show {
    display: block;
    animation: slide-down 0.2s ease-out;
}

.extra-filters{
    position: absolute;
    padding: 60px 8px 8px 8px;
    z-index: -1;
    top: -3px;
    left: -3px;
    border-radius: 14px;
    height: 385px;
    width: calc(100% + 6px);
    background-color: #FFFFFF;
    display: none;
    animation: opacity 0.2s ease;
}
.extra-filters.show{
    display: block;
}

.extra-filters.show +* .dropdown-group::before{
    z-index: 30;
}

.extra-filters__content{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 8px;
}

.search-input{
    width: 100%;
}

/* checkbox */

.check {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 36px;
    padding-right: 26px;
    line-height: 50px;
    white-space: nowrap;
}
.check:hover {
    background-color: var(--light-gray-color);
    cursor: pointer;
}

.check__box {
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    box-shadow: 0 0 0 0.1em var(--accent-color);
    background-color: white;
    margin-left: -23px;
    border-radius: 0.1em;
}

.check__input:checked + .check__box {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.15253 7.4955L4.99703 11.6452L11.5 4.5' stroke='white' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-color: var(--accent-color);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.check__input:focus + .check__box {
    box-shadow: 0 0 0 0.1em var(--accent-color), 0 0 0 0.25em rgb(0, 0, 0);
}

@media (max-width: 659px) {
    .check{
        min-height: 50px;
        line-height: var(--font-size-regular);
        white-space: pre-wrap;
    }
}

/* check badges */

.check-badges-core{
    position:absolute;
    width:1px;
    height: 1px;
    margin:-1px;
    border:0;
    padding:0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-badges__title{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 32px;
    gap: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background: none;
    border: 1px solid var(--standart-stroke-color);
    border-radius: 8px;
}

.check-badges{
    position: relative;
    user-select: none;
}

.check-badges:hover{
    cursor: pointer;

}

.check-badges__icon{
    fill:var(--black-color);
}


.check-badges-core:checked + .check-badges__title{
    background-color:var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--white-color);
}

.check-badges-core:checked +* .check-badges__icon{
    fill: var(--white-color);
}

.check-badges__title.loading{
    animation: loading-animation 1.5s infinite;
}

/* animation */

@keyframes slide-down {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loading-animation {
    0% {
        background-color: var(--accent-color); /* Исходный цвет кнопки */
        box-shadow: none;
    }
    50% {
        background-color: var(--dark-accent-color); /* Промежуточный цвет для создания эффекта переливания */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень кнопки */
    }
    100% {
        background-color: var(--accent-color); /* Возврат к исходному цвету кнопки */
        box-shadow: none;
    }
}

/* count */

.dropdown-label-content.has-count .dropdown-count {
    display: inline-block;
    margin-left: 2px;
}

/* radio-badges */

.radio-badges-group{
    display: flex;
    user-select: none;
}
.radio-badges__title{
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    align-items:center;
    height: 2em;
    padding-left: 10px;
    padding-right: 10px;
    background-color:var(--white-color);
    border: 1px solid var(--standart-stroke-color);
}
.radio-badges__title.first{
    border-radius: 10px 0 0 10px;
}
.radio-badges__title.last{
    border-radius: 0 10px 10px 0;
}
.radio-badges__title:hover{
    cursor: pointer;
}
.radio-badges-core:checked + .radio-badges__title{
    background-color:var(--accent-color);
    border-color: var(--accent-color);
    color: var(--white-color);
}

/* Star rating */

.rating__group{
    position: relative;
    width: 10em;
    height: 2em;
    background-repeat: repeat-x;
    background-size: 2em auto;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0489 2.92705C11.3483 2.00574 12.6517 2.00574 12.9511 2.92705L14.4697 7.60081C14.6035 8.01284 14.9875 8.2918 15.4207 8.2918H20.335C21.3037 8.2918 21.7065 9.53141 20.9228 10.1008L16.947 12.9894C16.5966 13.244 16.4499 13.6954 16.5838 14.1074L18.1024 18.7812C18.4017 19.7025 17.3472 20.4686 16.5635 19.8992L12.5878 17.0106C12.2373 16.756 11.7627 16.756 11.4122 17.0106L7.43648 19.8992C6.65276 20.4686 5.59828 19.7025 5.89763 18.7812L7.41623 14.1074C7.5501 13.6954 7.40345 13.244 7.05296 12.9894L3.07722 10.1008C2.29351 9.53141 2.69628 8.2918 3.66501 8.2918H8.57929C9.01252 8.2918 9.39647 8.01284 9.53035 7.60081L11.0489 2.92705Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

.rating__star{
    appearance: none;
    position: absolute;
    top:0;
    left:0;
    width: 2em;
    height:2em;
    margin: 0;
    font-size: inherit;
    background-size: 2em auto;
    background-repeat: repeat-x;
    cursor: pointer;
}
.rating__star:checked,
.rating__star:hover{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0489 2.92705C11.3483 2.00574 12.6517 2.00574 12.9511 2.92705L14.4697 7.60081C14.6035 8.01284 14.9875 8.2918 15.4207 8.2918H20.335C21.3037 8.2918 21.7065 9.53141 20.9228 10.1008L16.947 12.9894C16.5966 13.244 16.4499 13.6954 16.5838 14.1074L18.1024 18.7812C18.4017 19.7025 17.3472 20.4686 16.5635 19.8992L12.5878 17.0106C12.2373 16.756 11.7627 16.756 11.4122 17.0106L7.43648 19.8992C6.65276 20.4686 5.59828 19.7025 5.89763 18.7812L7.41623 14.1074C7.5501 13.6954 7.40345 13.244 7.05296 12.9894L3.07722 10.1008C2.29351 9.53141 2.69628 8.2918 3.66501 8.2918H8.57929C9.01252 8.2918 9.39647 8.01284 9.53035 7.60081L11.0489 2.92705Z' fill='%23FFE814'/%3E%3C/svg%3E ");
}

.rating__star:hover ~ .rating__star{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0489 2.92705C11.3483 2.00574 12.6517 2.00574 12.9511 2.92705L14.4697 7.60081C14.6035 8.01284 14.9875 8.2918 15.4207 8.2918H20.335C21.3037 8.2918 21.7065 9.53141 20.9228 10.1008L16.947 12.9894C16.5966 13.244 16.4499 13.6954 16.5838 14.1074L18.1024 18.7812C18.4017 19.7025 17.3472 20.4686 16.5635 19.8992L12.5878 17.0106C12.2373 16.756 11.7627 16.756 11.4122 17.0106L7.43648 19.8992C6.65276 20.4686 5.59828 19.7025 5.89763 18.7812L7.41623 14.1074C7.5501 13.6954 7.40345 13.244 7.05296 12.9894L3.07722 10.1008C2.29351 9.53141 2.69628 8.2918 3.66501 8.2918H8.57929C9.01252 8.2918 9.39647 8.01284 9.53035 7.60081L11.0489 2.92705Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}
/* Star Options */

.rating__star:nth-of-type(1){
    z-index: 5;
    width: 2em;
}
.rating__star:nth-of-type(2){
    z-index: 4;
    width: 4em;
}
.rating__star:nth-of-type(3){
    z-index: 3;
    width: 6em;
}
.rating__star:nth-of-type(4){
    z-index: 2;
    width: 8em;
}
.rating__star:nth-of-type(5){
    z-index: 1;
    width: 10em;
}

/* stars points */
.point{
    display: grid;
    grid-template-columns: min-content 1fr;
    overflow: hidden;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 6px;
    min-width: 42px;
    height: 26px;
    background: var(--accent-color);
    border-radius: 50px;
}

.point-img{
    width: 20px;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0489 2.92705C11.3483 2.00574 12.6517 2.00574 12.9511 2.92705L14.4697 7.60081C14.6035 8.01284 14.9875 8.2918 15.4207 8.2918H20.335C21.3037 8.2918 21.7065 9.53141 20.9228 10.1008L16.947 12.9894C16.5966 13.244 16.4499 13.6954 16.5838 14.1074L18.1024 18.7812C18.4017 19.7025 17.3472 20.4686 16.5635 19.8992L12.5878 17.0106C12.2373 16.756 11.7627 16.756 11.4122 17.0106L7.43648 19.8992C6.65276 20.4686 5.59828 19.7025 5.89763 18.7812L7.41623 14.1074C7.5501 13.6954 7.40345 13.244 7.05296 12.9894L3.07722 10.1008C2.29351 9.53141 2.69628 8.2918 3.66501 8.2918H8.57929C9.01252 8.2918 9.39647 8.01284 9.53035 7.60081L11.0489 2.92705Z' fill='%23FFE814'/%3E%3C/svg%3E ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.point-text{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}


